.f-container {
  /* flex-direction: column; */
  position: relative;
  /* overflow: hidden; */

  margin-bottom: 6rem;
}
.f-header {
  margin-bottom: 0rem;
  overflow: visible;
}
.f-header__title {
  font-size: 1.75rem;
  font-weight: 500;
}
.f-header__desc {
  text-align: center;
  max-width: 588px;
}

.tabTitle {
  /* border-bottom: 4px solid var(--clr-pRed); */
  padding: 2rem;
  font-size: 18px;
}

.active {
  border-bottom: 4px solid var(--clr-pRed) !important;
}
.tabContents {
  /* background-color: red; */
  flex-direction: row;
}
.f-cardContainer {
  width: 100%;
  height: 32rem;
}
.f-card {
  transition: all 150ms ease-in-out;
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: max-content;
  margin: auto;
  gap: 5rem;
}
.f-card__details {
  gap: 1rem;
}
.f-card > img {
  flex: 2;
  max-width: 75%;
}
.f-card > :nth-child(2) {
  flex: 1;
  max-width: 588px;
}

.r-container .swiper-horizontal {
  overflow: visible;
}
.f-container .swiperWrapper {
  padding-top: 6rem;
  overflow: visible;
  flex-direction: row-reverse;
}

.tabContainer {
  flex-direction: row;
  /* top: -3rem;
  border-bottom: 1px solid black;

  width: 100%; */
}

@media (max-width: 767px) {
  .f-wrapper {
    /* background-color: red; */
  }
  .f-container {
    /* background-color: red; */

    margin-bottom: 8rem;
  }
  .tabTitle {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(186, 186, 186, 0.844);
  }
  .f-container .f-card {
    max-width: 90%;
    /* height: 0%; */
    margin-bottom: 50rem;
  }
  .f-card > img {
    max-width: 100%;
  }
  .f-container .f-card__details {
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
}

@media (max-width: 330px) {
  .f-wrapper {
    min-width: 335px;
  }
}
