.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--clr-neutral-500);

  /* height: 8rem; */
}
.foot-wrapper {
  /* background-color: red; */
  height: 100%;
  padding: 3rem 0rem;
  background-color: var(--clr-neutral-500);
}
.footer-container .footerLeft {
  flex-direction: row;
  gap: 2rem;
}
.footerNav {
  gap: 1.25rem;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.footerImage > img {
  color: white;
  fill: white;
}
.footerRight {
  gap: 1.25rem;
}
@media (max-width: 768px) {
  .foot-wrapper {
  }
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }
  .footer-container .footerLeft {
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  .foot-wrapper {
    min-width: 335px;
  }
}
